{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="content">
        <h1 class="h1">My note</h1>
        {{ form_start(form) }}
            {{ form_row(form.titre) }}
            {{ form_row(form.description) }}
           <button type="submit">Valider</button> 
        {{ form_end(form) }} 
    </div>
    <section class="content_list">
        {% for note in noteAll %}
            <div class="item">
                <p>{{note.titre}}</p>
                <p>{{note.description}}</p>
            </div>
        {% endfor %} 
    </section>
</div>
{% endblock %}
