{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
		<div class="main">
			<h1 class="h1">My note</h1>
			<div class="content">
				{{ form_start(form) }}
				{{ form_row(form.titre, {'label': ' ','attr': {'class': 'form-control titre','data-id':0,'placeholder': 'Entrez le titre','onchange': "updateTexta(this, 'input')"}}) }}
				{{ form_row(form.description,{'label':' ','attr': {'class': 'form-control description','data-id':0, 'placeholder': 'Entrez la description','onchange':"updateTexta(this,'textarea')"  }}) }}
				<button type="button" class="btn_valide">Valider</button>
				{{ form_end(form) }}
			</div>
			<section class="content_list">
				{% for note in noteAll %}
					<div class="item">
						<p class="title_note form-control">{{note.titre}}</p>
						<p class="text_descri form-control">{{note.description}}</p>
							<button type="button" onclick="modification({{note.id}})" class="by_modif">modif</button>
							<button type="button" onclick="supprimer({{note.id}})">supprimer</button>
					</div>
				{% endfor %}
			</section>
			<button class="my_btn">+</button>
		</div>
	</div>


	<script>
		/*show and hide content*/
		var content_form = document.querySelector('.content');
		content_form.classList.add('hidden');

		var my_btn = document.querySelector('.my_btn');
		if (my_btn) {
			my_btn.addEventListener('click', function () {
			content_form.classList.toggle('hidden');
			});
		}
		
		function modification(id) {
			$.ajax({
				url: "{{path('app_modification')}}",
				method: "post",
				data: {id:id},
				success: function(response){
					if(content_form.classList.contains('hidden')){
						content_form.classList.remove('hidden');
					}
				}
			});
		}
		/*---------------------------------*/
		/*---------------Create note with data null and attibuate id -> lastId -----------------*/
		var btn_valide = document.querySelector('.btn_valide');
		if (btn_valide) {
			btn_valide.addEventListener('click', function () {
				var titreInput = document.querySelector('.titre');
				var descriptionInput = document.querySelector('.description');

				if (!titreInput || !descriptionInput) return;

				var titre = titreInput.value;
				var description = descriptionInput.value;
				var idTitre = titreInput.dataset.id;
				var idDescription = descriptionInput.dataset.id;

				var isModification = idTitre && idTitre != "0";

				if (isModification) {
					$.ajax({
						url: "{{ path('app_modification') }}",
						method: "POST",
						data: {
							id: idTitre, 
							titre: titre,
							description: description
						},
						success: function (response) {
							console.log('Modifié avec succès');
							location.reload();
						},
						error: function (error) {
							console.error(error);
						}
					});
				} else {
					$.ajax({
						url: "{{ path('app_create') }}",
						method: "POST",
						data: {
							titre: titre,
							description: description
						},
						success: function (response) {
							var inputs = document.querySelectorAll('.form-control');
							inputs.forEach(function (input) {
								input.dataset.id = response;
							});
							console.log('Créé avec succès');
							location.reload();
						},
						error: function (error) {
							console.error(error);
						}
					});
				}
			});
		}

		/* supprimer le note */
		function supprimer(id) {
			$.ajax({
				url: "{{ path('app_supprimer') }}",
				method: "GET",
				data: {
					id: id
					},
				success: function (response) {
					location.reload();
				}
			});
		}
		/*--------------------------------*/

		/*update information*/
		function updateTexta(el, type) {
			if(el.dataset.id){
				$.ajax({
					url:"{{ path('app_maj') }}",
					method: "get",
					data: {
					id: el.dataset.id,
					type: type,
					element: el.value
					},
					success: function (response) {}
				});
			}
		}
		
	</script>
{% endblock %}
